<head>
  <script type="text/javascript">
    console.log(<%= data %>)
    var gameClient = <%= data %>
    console.log(gameClient)
    gameClient.on('hello_game', () => alert('Im a game!'))
  </script>
</head>
<body>
  <button onclick="window.location.href='https://w3docs.com';">
    connect as controller
  </button>
</body>
